//--------------------------------------------------------------
// Elements
//--------------------------------------------------------------
body {
	background: $color-black;
	color: $color-white;
	font-family: 'Nunito Sans', sans-serif;
}
