
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-black: #1E1D1B;
$color-white: #FFFFFF;
$color-dark-gray: #32312F;
$color-yellow: #F1F4CA;

// Body
$body-bg: $color-black;

// Global Width
$global-width: 1000px;

// Media Queries
$mq-medium: 640px;
$mq-tablet: 768px;
$mq-full: 960px;
$mq-laptop: 1024px;
