
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-black: #1E1D1B;
$color-white: #FFFFFF;
$color-dark-gray: #32312F;
$color-yellow: #F1F4CA;

// Body
$body-bg: $color-black;
